<%= form_for(@link) do |f| %>
  <%= f.label :long_url, "Long URL" %>
  <%= f.text_field :long_url  %>
  <%= f.submit "Shorten" %>
<% end %>
<% if @error_message %>
  <div><%= @error_message[:display] %></div>
<% end %>
