<%= form_for(@link) do |f| %>
  <%= f.label :long_url, "Long URL" %>
  <%= f.text_field :long_url  %>
  <%= f.submit "Shorten" %>
<% end %>

<% if flash[:notice] %>
 <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if @shortened_link %>
  Short link successfully created <%= link_to add_domain << @shortened_link.short_url, @shortened_link.long_url %>
<% end %> 





